<table class='table table-striped'>
    <thead>
        <tr>
            <th>Username</th>
            <th>Phone</th>
            <th>Date</th>
            <th>Master</th>
        </tr>
    </thead>
    <tbody>
        <% @results.each do |row| %>
            <tr>
                <td> <%= row['username']%> </td>
                <td> <%= row['phone']%> </td>
                <td> <%= row['datestamp']%> </td>
                <td> <%= row['barber']%> </td>
            </tr>
        <% end %>
    </tbody>
</table>