<h2>Sign up</h2>

<form action='/visit' method='POST'>
  <div class="form-group">
    <label>Your name:</label>
    <input name="username" type="text" class="form-control" placeholder="Enter your name">
  </div>
  <div class="form-group">
    <label>Your phone:</label>
    <input name="phone" type="text" class="form-control" placeholder="Enter your phonenumber">
  </div>
  <div class="form-group">
    <label>Set visit time:</label>
    <input name="datetime" type="text" class="form-control" placeholder="Enter date">
  </div>
  <div class="form-group">
    <label>Select master:</label>
    <select name="master" class="form-control" placeholder="Select">
      <option>Walter White</option>
      <option>Jessie Pickman</option>
      <option>Gus Fring</option>
    </select>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>